<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">SGCombo.com File Uploader to LifeWatch</a>
            </p>
        </div>
    </div>
</header>
<div id="body">

</div>
